# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/data_processing.cpython-311.pyc
cache/

# exclude images
google-search-autocomplete.png
google-search-autocomplete.svg

#exclude files solely used for testing
test.py